@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes color-changer {
  0% {
    background-color: $black_color;
  }
  50% {
    background-color: lighten($black_color, 2);
  }
  100% {
    background-color: $black_color;
  }
}