.board {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1px;
  box-shadow: 5px 5px 0px 0px darken($light-cell-color, 15);
  background-color: darken($light-cell-color, 15);
  border: 1px solid $black_color;

  &__cell {
    border: 1px solid darken($light-cell-color, 15);
    margin: 0;
    display: flex;
    padding: .2rem;
    height: 6vw;
    width: 6vw;
    max-width: 6rem;
    min-width: 3rem;
    max-height: 6rem;
    min-height: 3rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
      pointer-events: bounding-box;
    }
    &--disabled {
      img {
        pointer-events: none;
      }
    }
    &--dark {
      background-color: $dark-cell-color;
    }
    &--light {
      background-color: $light-cell-color;
    }
    &--movable {
      border-radius: 25%;
      background: radial-gradient(ellipse at center,
        rgba(255,113,12,0) 50%,
        rgb(0, 255, 59) 50%);
    }
  }
}